
.bg{
    width: 50vh;
    
}
body{
    color: white;
    background-color: #0E0402;
    padding-bottom: 200px;
    margin-top: 0px;
    font-family: "Gill Sans", "Gill Sans MT", sans-serif;
    
}
.container{
    background-image: url(./images/bg.png);
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 200px;

}
.home{
    margin-left: 50px;
    padding: 100px;

}
p{
    color: gray;
    margin-bottom: 100px;
    font-size: 1.5rem;
}
.btn{
    display:flex;
    gap: 20px;
}
button{
    color: white;
    background-color: #810000;
    padding: 20px 40px;
    font-size: 18px;
    border: none;
    border-radius: 71px;
    cursor: pointer;
    
}
button:hover{
    opacity: 0.5;
}
h1{
    font-weight: 70;
    margin-bottom: 10px;
    font-size: 6rem;
    font-family: 'DM Serif Display', serif;
    
}